*{
    padding-top: 20px;
    padding-left: 40px;
   
}
ul{
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-content: space-around;
}
li{
    height: 100px;
    width: 100px;
    background-color: cyan;
    color: black;
    font-weight: bolder;
    font-size: 80px;
    list-style: none;
    text-align: center;
    float: right;
    margin: 5px;
    padding: 0;
}
